<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="service.name" value="SGM.WindowsForms" />
		<!--<add key="sgm.web.api.url" value="https://localhost:5001/" />-->
		<add key="sgm.web.api.url" value="http://api.arielgiacomini.com.br/" />
		<add key="via.cep.api.url" value="https://viacep.com.br/ws" />
		<add key="whatsapp.api.url" value="https://api.whatsapp.com/" />
		<add key="quantidade-ultimos-orcamentos-gerados" value="2" />
		<add key="quantidade-ultimos-servicos-gerados" value="10" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="usuario.necessita.logar" value="true" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>