################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.dll
*.v2
*.pdb
*.exe
*.suo
*.config
*.txt
/.vs/SGM/v16/Server/sqlite3/db.lock
/.vs/SGM/v16/Server/sqlite3/storage.ide
/.vs/SGM/v16/Server/sqlite3/storage.ide-shm
/.vs/SGM/v16/Server/sqlite3/storage.ide-wal
/src/SGM.ApplicationServices/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/src/SGM.Domain/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/src/SGM.Domain/bin/Debug/netstandard2.0/SGM.Domain.pdb
/arquivos/AtualizacaoVeiculos
/arquivos/Tabelas
/src/SGM.Domain/obj/Debug/netstandard2.0/SGM.Domain.csproj.FileListAbsolute.txt
/src/SGM.ApplicationServices/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/src/SGM.ApplicationServices/obj/Release/netstandard2.0/SGM.ApplicationServices.AssemblyInfo.cs
/src/SGM.Domain/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/.vs/slnx.sqlite
/src/SGM.Domain/obj/Release/netstandard2.0/SGM.Domain.AssemblyInfo.cs
/src/SGM.WindowsForms/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/src/SGM.WindowsForms/obj/x86/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/src/SGM.WindowsForms/obj/x86/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib
/packages/Newtonsoft.Json.13.0.1
/UpgradeLog.htm
/UpgradeLog2.htm
/src/SGM.WindowsForms/bin/Debug/Newtonsoft.Json.xml
/src/SGM.WindowsForms/obj/Debug/SGM.WindowsForms.Fomularios.Modelo.frmMenusIntegrados.resources